.menu {
  z-index: 9999;
  // Default
  background: $light-background-header;

  @media (prefers-color-scheme: dark) {
    background: $dark-background-header;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-header;
  }

  [data-theme=dark] & {
    background: $dark-background-header;
  }

  [data-theme=light] & {
    background: $light-background-header;
  }

  @media #{$media-size-phone} {
      display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 1rem;
    list-style: none;

    li {
      margin: 0 12px;
    }
  }

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.home-menu {
  // Default
  background: $light-background-header;

  @media (prefers-color-scheme: dark) {
    background: $dark-background-header;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-header;
  }

  [data-theme=dark] & {
    background: $dark-background-header;
  }

  [data-theme=light] & {
    background: $light-background-header;
  }

  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-display: auto;
  font-family: monospace, monospace;
  font-size: 1.5rem;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

  }

  li {
    flex: 0 0 33.3%;
  }

  @media #{$media-size-phone} {
      flex-direction: column;
      align-items: flex-start;

      ul li {
        list-style: none;
        flex: 0 0 100%;
      }
  }

  a {
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.submenu {
  background: $light-background-header;

  @media (prefers-color-scheme: dark) {
    background: $dark-background-header;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-header;
  }

  [data-theme=dark] & {
    background: $dark-background-header;
  }

  [data-theme=light] & {
    background: $light-background-header;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a, .dropbtn {
    display: inline-block;
    text-decoration: none;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: $dark-background-header;

    @media (prefers-color-scheme: light) {
      background: $light-background-header;
    }
    
    [data-theme=dark] & {
      background: $dark-background-header;
    }
  
    [data-theme=light] & {
      background: $light-background-header;
    }
  }

  .dropdown-content a {
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background: $dark-background-header;
    
    @media (prefers-color-scheme: light) {
      background: $light-background-header;
    }

    [data-theme=dark] & {
      background: $dark-background-header;
    }
  
    [data-theme=light] & {
      background: $light-background-header;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
