{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
      <div class="home-logo">
        <picture>
          <source srcset="img/feralsec-title-dark.png" media="(prefers-color-scheme:dark)">
          <img src="img/feralsec-title-light.png">
        </picture>
        <img src="img/logo.svg" style="margin-top: -25%;">
        </div>
        {{ if len .Site.Menus }}
    <div class="home-menu">
      <ul>
            {{ range .Site.Menus.front -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}
      </ul>
        </div>
        {{ end }}
    </div>
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
